article {
    /* This white space assignment fixes the lack of new lines returned from json data */
    white-space: pre-wrap;
    line-height: 1.8rem;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}


