.App {
    background-color: #2d3436;
}

.site-header,
.title-header {
    /* Credit to uigradients.com */
    background: #56ab2f;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes slideInFromLeft {
     0% {
         transform: translateX(-100%);
     }
     100% {
         transform: translateX(0);
     }
 }

@keyframes slideInFromRight{
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromBottom{
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}

.instruction-text,
.warning-text {
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}{
    animation: 1s ease-in-out 0s 1 slideInFromLeft;
}

.videos {
    animation: 1s ease-in-out 0s 1 slideInFromBottom;
}

.popularTracks {
    animation: 1s ease-in-out 0s 1 slideInFromRight;
}

.youtube-icon {
    color: #FF3333;
}

.youtube-icon:hover {
    color: #c0392b;
}


